<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Taccolo</title>
    <link rel="stylesheet" href="~/css/top-layout.css?v=1.0" />
    @RenderSection("Styles", required: false)

    <script src="https://kit.fontawesome.com/ea07c1c07f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="div-top">
            <div class="div-logo div-in-header">
                <a href="/">
                    <h1 class="h1-logo">taccolo</h1>
                </a>
            </div>
            <div class="div-search div-in-header">
                <form class="form-search" method="get" action="/search">
                    <input type="text" class="input-global-search input-search" id="input-global-search" name="input-global-search" placeholder=" Enter keyword to search Learning Sets anywhere" />
                    <input type="image" src="~/icons/search2.svg" class="input-search-button icon" alt="search" id="search" />
                </form>
            </div>
            <div class="div-login div-in-header">

                    @if (User.Identity?.IsAuthenticated == true)
                    {
                    <a class="a-login" href="/Identity/Account/MyPage">
                        <img class="icon img-login" src="~/icons/login.svg" alt="login" id="login" />
                        <label class="label-icon label-login" for="login">@User.Identity.Name My Page</label>
                        </a>
                    }
                    else
                    {
                        <a class="a-login" href="/Identity/Account/Login">
                            <img class="icon img-login" src="~/icons/login.svg" alt="login" id="login" />
                        <label class="label-icon label-login" for="login">Login/Register</label>
                    </a>
                    }
                </a>
            </div>
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <div class="div-logout div-in-header">
                    <a class="a-logout" href="@Url.Page("/Index", new { handler = "Logout" })">
                            <img class="icon img-login" src="~/icons/logout.svg" alt="logout" id="logout" />
                        <label class="label-icon label-logout" for="logout">Logout</label>
                        </a>
                    </div>
                }
        </div>
    </header>
    <div class="div-level2">
        <div class="div-navigation">
            <nav>
                <ul class="ul-side-menu">
                    <li class="li-menu-item li-how-to-use"><a href="/HowToUse">How to Use</a></li>
                    <li class="li-menu-item li-make-new"><a href="/MakeNewLS">Make New <br>Learning Sets</a></li>
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <li class="li-menu-item li-own"><a href="/OwnLS">Own Learning Sets</a></li>
                        <li class="li-menu-item li-favorite"><a href="/FavoriteLS">Favorite <br>Learning Sets</a></li>
                    }
                    else
                    {
                        <li class="li-menu-item li-own"><a href="/Identity/Account/Login">Own Learning Sets</a></li>
                        <li class="li-menu-item li-favorite"><a href="/Identity/Account/Login">Favorite <br>Learning Sets</li>
                    }
                    <li class="li-menu-item li-faq"><a href="/FAQ">FAQ</a></li>
                    <li class="li-menu-item li-about"><a href="/About">About</a></li>
                </ul>
            </nav>
        </div>
        <div class="div-each-page">
            @RenderBody()
        </div>
    </div>
</body>
</html>
