@page
@model Taccolo.Pages.IndexModel
@using Taccolo.Pages.Data
@using System.Security.Claims
@{
    ViewData["Title"] = "Top";
}
@{
    Layout = "_taccoloLayout";
}
@section Styles {
    <link rel="stylesheet" href="/css/page-specific/SearchLs.css" />
}

<div class="div-main">
    <div class="div-language-selection div-margin-bottom">
        <div class="div-choose-language">
            <label for="from-language">From</label>
            <select id="select-from-language">
                <option value="not-chosen">(select one)</option>
                @{
                    for (int i = 0; i < Languages.LanguageList.Count(); i++)
                    {
                        <option value="@Languages.LanguageList[i]">@Languages.LanguageList[i]</option>
                    }
                }
            </select>
        </div>
        <div class="div-choose-language">
            <label for="select-or-and"></label>
            <select id="select-or-and">
                <option value="OR">OR</option>
                <option value="AND">AND</option>
            </select>
        </div>
        <div class="div-choose-language">
            <label for="to-language">To</label>
            <select id="select-to-language" >
                <option value="not-chosen">(select one)</option>
                @{
                    for (int i = 0; i < Languages.LanguageList.Count(); i++)
                    {
                        <option value="@Languages.LanguageList[i]">@Languages.LanguageList[i]</option>
                    }
                }
            </select>
        </div>
        <input type="text" class="input-narrow-search" id="input-narrow-search" name="input-narrow-search" 
        placeholder=" Enter keyword to narrow down results" value="@Model.Keyword"/>
        <button class="button-search" onclick="getSearchResultTop()">search</button>
        <button class="button-clear" onclick="clearSearchParameters()">clear</button>
    </div>
    <div class="div-learning-sets" id="div-learning-sets">
    </div>
</div>
<script src="/js/search.js"></script>