@page "{lsid?}"
@model Bachelor_Thesis_Takumi_Saito.Pages.EditViewLsModel
@{
    ViewData["Title"] = "EditViewLs";
}
@{
    Layout = "_taccoloLayout";
}
@section Styles {
    <link rel="stylesheet" href="/css/page-specific/EditViewLs.css" />
}
<p id="p-id" class="p-id no-display">@Model.LsId</p>

<div class="div-main">
    <div class="div-title">
        <h1 class="h1-title">Edit and View Learning Set</h1>
        <div class="div-buttons" id="div-buttons">
            <button class="button-edit" id="button-edit" onclick="switchToEdit()">EDIT</button>
        </div>
    </div>
    <div class="div-basic-info">
        <span class="span-basic-info"><strong>Title: </strong>@Model.LsToDisplay?.Title</span>
        <span class="span-basic-info"><strong>From: </strong>@Model.LsToDisplay?.SourceLanguage</span>
        <span class="span-basic-info"><strong>To: </strong>@Model.LsToDisplay?.TargetLanguage</span>
    </div>
    @if (Model.LsId == null)
    {
        <h4>Learning Set is not chosen.</h4>
    }
    else
    {
        <div class="div-outputs">
            <div class="div-original div-output-column" id="div-original">
                <h2>Original Text</h2>
                @if (Model.LsToDisplay?.Input != null)
                {
                    <p class="p-original" id="p-original">@Html.Raw(Model.LsToDisplay?.Input.Replace("\n", "<br>"))</p>
                    //replace \n with <br> because HTML can't read \n as line breaks
                }
            </div>
            <div class="div-translated  div-output-column">
                <h2>Translated Text</h2>
                @if (Model.LsToDisplay?.Translation != null)
                {
                    <p class="p-translated" id="p-translated">@Html.Raw(Model.LsToDisplay?.Translation.Replace("\n", "<br>"))</p>
                    //replace \n with <br> because HTML can't read \n as line breaks
                }
            </div>
            <div class="div-glossary div-output-column" id="div-glossary">
                <h2>List of Words</h2>
                @foreach (WordMeaningPair pair in Model.LsToDisplay?.WordMeaningPairs)
                {
                    <div class="div-wmp">
                        <img src="~/icons/star.svg" class="icon icon-star" title="add word below">
                        <p class="p-word"><strong>@pair.Word</strong></p><span> :</span>
                        <p class="p-translated-text">@pair.TranslatedText</p>
                        <img src="~/icons/plus3.svg" class="icon icon-plus icon-for-edit icon-plus-word" title="add word below">
                        <img src="~/icons/minus3.svg" class="icon icon-minus icon-for-edit icon-minus-word" title="delete this word">
                        <br />
                        <p class="p-order no-display">@pair.Order</p>
                        <p class="p-wmp-id no-display">@pair.Id</p>
                        @if (pair.Alternatives is not null)
                        {
                            <span class="span-or">or: </span>
                            <ul class="ul-alternatives">
                                @if(pair.Alternatives.Count == 0)
                                {
                                    <div class="div-each-alt">
                                    <li class="li-alternative-meaning"></li>
                                    <img src="~/icons/plus3.svg" class="icon icon-plus icon-for-edit icon-plus-meaning" title="add meaning below">
                                    <img src="~/icons/minus3.svg" class="icon icon-minus icon-for-edit icon-minus-meaning" title="delete this meaning">
                                    </div>
                                }
                                else
                                {
                                    foreach (string alternative in pair.Alternatives)
                                    {
                                        if (alternative != String.Empty)
                                        {
                                    <div class="div-each-alt">
                                        <li class="li-alternative-meaning">@alternative</li>
                                        <img src="~/icons/plus3.svg" class="icon icon-plus icon-for-edit icon-plus-meaning" title="add meaning below">
                                        <img src="~/icons/minus3.svg" class="icon icon-minus icon-for-edit icon-minus-meaning" title="delete this meaning">
                                    </div>
                                        }
                                    }
                                }
                                
                            </ul>
                        }
                </div>
                }
        </div>
    </div>
    }
</div>
<script src="/js/edit-view-ls.js"></script>