@page
@model Bachelor_Thesis_Takumi_Saito.Pages.SetModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Set</title>
</head>
<body>

<div>
    <h4>LearningSet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LearningSet.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearningSet.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LearningSet.Input)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearningSet.Input)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LearningSet.Translation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearningSet.Translation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LearningSet.SourceLanguage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearningSet.SourceLanguage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LearningSet.TargetLanguage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearningSet.TargetLanguage)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.LearningSet.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
