@page
@using Bachelor_Thesis_Takumi_Saito.Areas.Identity.Pages.Account
@model MyPageModel
@{
    Layout = "/Pages/Shared/_LoginRegisterLayout.cshtml";
}

<h2 class="h2-instruction">Here is your information. 
    <br /> You can edit the information from <a class="a-explicit-link" href="/Identity/Account/MyPageEdit">here</a></h2>
<p class="p-note">*To change password, you can do it from <a class="a-explicit-link" href="/Identity/Account/ChangePassword">here</a></p>
<div class="div-mypage-item">
    <div class="div-mypage-key">
        <p class="p-mypage-key">Username</p>
    </div>
    <div class="div-mypage-value">
        <p class="p-mypage-value">
            @Model.CurrentUser?.UserName
        </p>
    </div>
</div>
<div class="div-mypage-item">
    <div class="div-mypage-key">
        <p class="p-mypage-key">Email address</p>
    </div>
    <div class="div-mypage-value">
        <p class="p-mypage-value">
            @Model.CurrentUser?.Email
        </p>
    </div>
</div>
<div class="div-mypage-item">
    <div class="div-mypage-key">
        <p class="p-mypage-key">Languages you want to learn</p>
    </div>
    <div class="div-mypage-value">
            @{
                for(int i = 0; i < Model.CurrentUser?.DesiredLanguages?.Count(); i++)
                {
                <p class="p-language">@Model.CurrentUser?.DesiredLanguages[i] </p>
                }
            }
    </div>
</div>
<div class="div-mypage-item">
    <div class="div-mypage-key">
        <p class="p-mypage-key">Languages you know</p>
    </div>
    <div class="div-mypage-value">
        @{
            for (int i = 0; i < Model.CurrentUser?.KnownLanguages?.Count(); i++)
            {
                <p class="p-language">@Model.CurrentUser?.KnownLanguages[i] </p>
            }
        }
    </div>
</div>
<div class="div-mypage-item">
    <div class="div-mypage-key">
        <p class="p-mypage-key">Bio</p>
    </div>
    <div class="div-mypage-value">
        <p class="p-mypage-value">
            @Model.CurrentUser?.Bio
        </p>
    </div>
</div>